.contact-text
{
    padding-top: 100px;
    padding-bottom: 70px;
}
.contact-text h3
{
    text-align: center;
    letter-spacing: 1px;
}
.contact-text h3 span
{
    color: #66C231;
}

.btn2
{
    background: #66C231;
    color: #fff;
    padding: 7px 25px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 608px;
    margin-top: 22px;
    height: 40px;
    width: 150px;
}
.btn2:hover
{
    color: #66C231;
    background-color: #fff;
    transition: .5s ease;
   
}
.bx-right-arrow-circle
{
    font-size: 18px;
}
@media (max-width:1321px)
{
    .btn2
    {
        left: 595px;
    }
}
@media (max-width:1200px)
{
    .contact-text button
    {
        position: absolute;
        left: 510px;
    }
}
@media only screen and (max-width: 768px)
{
    .contact-text h3 
    {
        padding-left: 20px;
    }
}
