*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family:  "Poppins", serif;
    /* "Poppins", serif; */
    /* "DM Sans", serif; */
}
.container_bg
{
    height: 617px;
    background:linear-gradient(rgba(51, 150, 100, 0.7),rgba(51, 150, 100, 0.7)), url('/pexels-stywo-1054218.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
form
{
    background: #fff;
    color: #313131;
    position: absolute;
    width: 340px;
    height: 310px;
    top:130.5px;
    left: 505.5px;
    border-radius: 0px 60px;
    box-shadow: 0px 5px 10px rgba(3, 3, 3, 0.2);
}
form input
{
    border: 0;
    outline: none;
    padding: 15px;
    font-size: 14px;
    background: #f5f5f5f5;
}

.username
{
    position: absolute;
    left: 50px;
    top: 20px;
}

#username
{
    position: absolute;
    left: 50px;
    top: 45px;
    width: 230px;
    height: 30px;
}
.email
{
    position: absolute;
    left: 50px;
    top: 85px;
}
#email
{
    position: absolute;
    left: 50px;
    top: 111px;
    width: 230px;
    height: 30px;
}
.phonenumber
{
    position: absolute;
    left: 50px;
    top: 152px;
}
#phonenumber
{
    position: absolute;
    left: 50px;
    top: 178px;
    width: 230px;
    height: 30px;
}
#button
{
    position: absolute;
    left: 100px;
    top: 250px;
    border: none;
    background-color: rgba(51, 150, 100, 0.7);
    text-align: center;
    width: 130px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}
#button:hover
{
    box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.2);
    transform: scale(1.1);
    transition: .5s ease;
    
}
#result
{
    position: absolute;
    top: 213px;
    left: 50px;
    color: rgb(37, 231, 189);
}
@media(max-width:450px)
{
    body{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .container_bg
{
    height: 521px;
    width: 450px;
    background-size: cover;
    background-position: center;
    
}
form{
    
    left: 58px;
    top: 106px;
}
}
@media(max-width:350px)
{
    body{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .container_bg
{
    height: 670px;
    width: 398px;
    background-size: cover;
    background-position: center;
    
}
form{
    
    left: 33px;
    top: 125px;
}
}

