@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family: "Poppins", serif;
    
}
nav{
    width: 100%;
    background: #fff;
    color: #000;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    gap: 2px;
    height: 80px;
    border-bottom: 1px solid #c9c9c9;
}
.logo
{
    width: 180px;
    cursor: pointer;
}
nav ul li 
{
    display: inline-block;
    list-style: none;
    margin: 5px;
    font-size: 16px;
}
ul li a
{
    padding: 0px 52px;
}
ul li a:hover,
ul li a.active
{
    color: #66C231;
    transition: 0.5s ease;
}
.last-text-navbar i:hover
{
    color: #000;
}
