@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family: "Poppins", serif;
    
}

.heading span
{
    color: #66C231;
}
.heading img
{
    width: 50px;
    position: absolute;
    top: 679px;
    left: 553px;
}
.service h1
{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}
.service p
{
 text-align: center;
 font-size: 20px;
 padding-top: 2px;
 padding-bottom: 40px;
 position: relative;
 right: 20px;
 letter-spacing: 2px;
}
.service
{
    margin: 10px auto;
    /* padding: 0 10%; */
    padding-bottom: 10px;
    padding-top: 50px;
    
}
.service-box
{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit,minmax(270px, 1fr));
}
.box
{
    height: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.box:hover
{
    box-shadow:none;
    transition: .5s ease;
}
.box-bg
{
    background: #66C231;
    width: 29.3%;
    height:50px;
    position: absolute;
    top: 1047px;
    left: 67px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    
}
.box-bg1
{
    background: #66C231;
    width: 29.3%;
    height:50px;
    position: absolute;
    top: 1047px;
    left: 477px;
    border-radius: 0 0 5px 5px;
}
.box-bg2
{
    background: #66C231;
    width: 29.3%;
    height:50px;
    position: absolute;
    top: 1047px;
    left: 887px;
    border-radius: 0 0 5px 5px;
}
.btn1
{
    background: #66C231;
    color: #fff;
    padding: 7px 25px;
    font-size: 12px;
    border: 1px soild;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 602px;
    top: 1145px;
    height: 40px;
    width: 140px;
}
.btn1:hover
{
   background-color: white;
   color: #66C231;
    transition: .5s ;
    border: 1px solid #66C231;
}
.box img
{
    width: 100%;
    /* height: 50%; */
    
}
.box h3 
{
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
}
.box p
{
    color: #000;
    font-size: 14px;
    line-height: 1.6;
}
@media (max-width:1321px){
    .heading img {
        top: 583px;
        left: 539px;
    }
    .box-bg
    {
        top: 951px;
        left: 66px;
    }
    .box-bg1
    {
        top: 951px;
        left: 467px;
    }
    .box-bg2
    {
        top: 951px;
        left: 869px;
    }
    .btn1
    {
        top: 1060px;
    }
  }
